---
import { getCollection } from 'astro:content'
import ProjectCard from './project-card.astro'
import SectionTitle from '../section-title.astro'
const projects = await getCollection('projects')
import Section from '../section.astro'
---

<Section>
  <SectionTitle text="my work" />
  <div class="mt-4 grid gap-y-16 lg:gap-y-32">
    {
      projects.map((project, index) => {
        return <ProjectCard project={project} index={index} />
      })
    }
  </div>
</Section>
