---
import Input from '../../components/form/input.astro'
import Textarea from '../../components/form/textarea.astro'
import SectionTitle from '../section-title.astro'
import Section from '../section.astro'
---

<Section>
  <SectionTitle text="Contact Me" />
  <Input
    label="Name"
    name="name"
    type="text"
    placeholder="Your name"
    required
  />
  <Input
    label="Email"
    name="email"
    type="email"
    placeholder="your.email@example.com"
    required
  />
  <Textarea
    label="Your message"
    name="message"
    placeholder="Type your message here"
    required
    rows={5}
  />
</Section>
