---
import { Image } from 'astro:assets'
import Section from '../section.astro'
import aboutImage from '../../assets/about.jpg'
import SectionTitle from '../section-title.astro'
import AboutInfo from './about-info.astro'
---

<Section class="lg:flex lg:gap-4">
  <Image
    src={aboutImage}
    alt="Christopher Harley and his wife and daughter"
    class="mb-16 rounded-md"
  />
  <div>
    <SectionTitle text="about me" />
    <AboutInfo />
  </div>
</Section>
