---
import { Image } from 'astro:assets'
import Section from '../section.astro'
import aboutImage from '../../assets/about.jpg'
import SectionTitle from '../section-title.astro'
import AboutInfo from './about-info.astro'
---

<Section>
  <Image
    src={aboutImage}
    alt="Christopher Harley and his wife and daughter"
    class="mb-16 rounded-md"
  />
  <SectionTitle text="about me" />
  <AboutInfo />
</Section>
