---
import { Image } from 'astro:assets'
import Section from '../ui/section.astro'
import aboutImage from '../../assets/about.jpg'
import SectionTitle from '../ui/section-title.astro'
import AboutInfo from './about-info.astro'
---

<Section class="lg:flex lg:items-center lg:gap-16">
  <div class="lg:flex-1">
    <Image
      src={aboutImage}
      alt="Christopher Harley and his wife and daughter"
      class="rounded-md"
    />
  </div>
  <div class="lg:max-w-xl lg:flex-none">
    <SectionTitle text="about me" />
    <AboutInfo />
  </div>
</Section>
