---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 page" description="page not found">
  <h1>Sorry, but the page you requested doesn't exist</h1>
  <a href="/">back</a>
</Layout>
