---
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/section.astro'
---

<Layout title="404 page" description="page not found">
  <Section class="flex flex-col justify-center">
    <h1 class="mb-6 text-4xl font-bold text-dark md:text-6xl">
      Oops! Page Not Found
    </h1>
    <p class="mb-10 max-w-md text-xl text-dark-grey">
      Sorry, but the page you requested doesn't exist or has been moved.
    </p>
    <a
      href="/"
      class="text-xl font-bold text-primary underline decoration-2 underline-offset-4 transition-all hover:text-primary-light"
    >
      GO BACK HOME →
    </a>
  </Section>
</Layout>
