---
export const prerender = true

import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { projects } from '../data/projects'
---

<Layout title="Christopher Harley - Design Engineer">
  <!-- Hero Section -->
  <section
    class="max-w-max-width mx-auto px-edge-padding py-section-v-space flex flex-col items-center justify-center text-center min-h-[512px]"
  >
    <h1 class="font-display-lg text-display-lg text-text-primary mb-unit">
      Design Engineer
    </h1>
    <p class="font-body-lg text-body-lg text-text-secondary max-w-2xl">
      Hi I'm Christopher, I build websites for agencies and small business's.
      Please reach out via the contact page to inquire about working together.
    </p>
  </section>

  <!-- Gallery Section -->
  <section
    class="max-w-max-width mx-auto px-edge-padding pb-section-v-space flex flex-col gap-section-v-space mb-section-v-space"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </section>
</Layout>
