<section aria-label="hero-section" class="mt-20">
  <h3 class="mb-20 text-2xl text-slate-700 md:text-4xl">
    UX Engineer | Charlotte, NC
  </h3>
  <h1 class="text-4xl leading-tight font-bold md:text-6xl xl:text-8xl">
    I design and build websites using modern Jamstack architecture for
    performance and scale
  </h1>
</section>
