---
import type { Fragment } from 'astro/jsx-runtime'
---

<section
  aria-label="hero-section"
  class="hero mx-auto h-[50vh] max-w-(--max-width) p-(--padding-sm) md:p-(--padding-md)"
>
  <h3 class="mt-80 text-2xl text-slate-700">
    UX ENGINEER | Veteran | Charlotte, NC
  </h3>
  <h1 id="title" class="text-6xl leading-tight font-bold xl:text-8xl">
    Building beautiful, scalable websites – from first sketch to final deploy
  </h1>
</section>
