<section aria-label="hero-section">
  <h3 class="mt-4 text-2xl text-slate-700 md:mt-8">
    UX ENGINEER | CHARLOTTE, NC
  </h3>
  <h1 class="mt-20 text-6xl leading-tight font-bold xl:text-8xl">
    I design and build beautiful websites...
  </h1>
</section>
