---

---

<section
  aria-label="hero-section"
  class="hero mx-auto flex h-full max-w-(--max-width) flex-col items-center justify-center p-(--padding-sm) md:p-(--padding-md)"
>
  <div class="mt-24 md:mt-48">
    <h3 class="text-2xl text-slate-700">
      UX ENGINEER | VETERAN | CHARLOTTE, NC
    </h3>
    <h1
      id="title"
      class="text-5xl leading-tight font-bold md:text-6xl xl:text-8xl"
    >
      I combine modern technology with exceptional design to create websites
    </h1>
  </div>
</section>
