---
const { class: className = '' } = Astro.props
---

<section
  class:list={[
    'mx-auto my-80 max-w-(--max-width) p-(--padding-sm) md:p-(--padding-md)',
    className,
  ]}
>
  <slot />
</section>
