---
// styles
import '../styles/global.css'

// components
import BaseHead from '../components/base-head.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} />
  <body>
    <slot />
  </body>
</html>
