---

---

<footer class="w-full bg-dark p-(--padding-sm) text-light md:p-(--padding-md)">
  <div
    class="mx-auto flex max-w-(--max-width) flex-col items-start gap-6 md:flex-row md:justify-between"
  >
    <p class="font-medium">Designed & Developed: Christopher Harley</p>
    <div class="flex gap-8">
      <a
        href="https://github.com/charley81"
        target="_blank"
        rel="noopener noreferrer"
        class="max-w-(--max-width) font-bold text-primary underline decoration-2 underline-offset-4 transition-colors hover:text-primary-light"
      >
        GITHUB
      </a>
      <a
        href="https://www.linkedin.com/in/charley81/"
        target="_blank"
        rel="noopener noreferrer"
        class="font-bold text-primary underline decoration-2 underline-offset-4 transition-colors hover:text-primary-light"
      >
        LINKEDIN
      </a>
    </div>
  </div>
</footer>
