---
import type { Fragment } from 'astro/jsx-runtime'
---

<nav
  class="mx-auto flex max-w-(--max-width) items-end justify-between p-(--padding-sm) tracking-wide md:p-(--padding-md)"
>
  <h3 class="text-2xl font-bold">
    <a href="/">Christopher Harley</a>
  </h3>
  <a
    href="/resume-example.pdf"
    class="focus: cursor-pointer rounded-(--border-radius) border-2 border-primary px-2 py-1 font-bold text-primary ease-in hover:border-transparent hover:bg-primary/10 focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:outline-none active:border-primary md:text-xl"
    target="_blank">RESUME</a
  >
</nav>
